@{
    ViewData["Title"] = "Details page";
}

<div>
    <h2>@Model.Name (@(Model.IsSeaFish ? "Sea fish" : "No sea fish"))</h2>
    <h3>Price: @(Model.Price / 100)€</h3>
    <img src="/uploads/@Model.Image" />
</div>